@mixin basic-theme ($theme) {
    // Theme styles
    background-color: map.get($theme, 'body-background-color');
    color: map.get($theme, 'body-text-color');

    .alpheios-header {
        background-color: map.get($theme, 'header-background-color');
        color: map.get($theme, 'header-text-color');

        .alpheios-header-title {
            display: map.get($theme, 'show-header-title');
        }

        .alpheios-header-logo {
            .alpheios-logo-1 {
                display: map.get($theme, 'logo-1-display');
            }
            .alpheios-logo-2 {
                display: map.get($theme, 'logo-2-display');
            }
        }
    }

    .alpheios-alignment-editor-align-define-container-inner {
        color: map.get($theme, 'align-editor-text-color');
        background: map.get($theme, 'editors-text-blocks-background');

        .alpheios-alignment-editor-align-segment-data {
            border-bottom-color: map.get($theme, 'align-editor-inner-border-color');
        }

        .alpheios-alignment-editor-align-segment-data-item {
            &.alpheios-alignment-editor-align-segment-data-target {
                border-left-color: map.get($theme, 'align-editor-inner-border-color');
            }
        }

        .alpheios-alignment-editor-align-text-segment span.alpheios-token {
            &.alpheios-token-grouped {
                color: map.get($theme, 'align-editor-text-color-grouped');
                border-color: map.get($theme, 'align-editor-text-border-color-grouped');
                background: map.get($theme, 'align-editor-text-background-color-grouped');
            }

            &.alpheios-token-selected {
                color: map.get($theme, 'align-editor-text-color-selected');
                border-color: map.get($theme, 'align-editor-text-border-color-selected');
                background: map.get($theme, 'align-editor-text-background-color-selected');
            }

        }
    }

    .alpheios-al-editor-view-equivalence {
        .alpheios-al-editor-container-inner span.alpheios-token.alpheios-token-selected {
          &:hover {
            color: map.get($theme, 'align-editor-text-color-active-hover');
            border-color: map.get($theme, 'align-editor-text-border-color-active-hover');
            background: map.get($theme, 'align-editor-text-background-color-active-hover');
          }
        }
    }
}
