@import "fonts";
@import "_page";

body, html {
    line-height: 1.5;
    margin: 0;
    padding: 0;
    min-height: 0;
    background-color: #e0e0e0;
    color: #000;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-family: "Source Sans Pro", Arial, sans-serif;
}

.alpheios-app-container {
    min-width: 600px;
    font-family: "Source Sans Pro", Arial, sans-serif;

    h1, h2, h3, h4, h5, h6 {
        font-family: "Source Serif Pro", Arial, serif;
    }
}


.header.alpheios-header {
    display: none;
}