@mixin basic-theme ($theme) {
    // Theme styles
    background-color: map.get($theme, 'body-background-color');
    color: map.get($theme, 'body-text-color');

    .alpheios-header {
        background-color: map.get($theme, 'header-background-color');
        color: map.get($theme, 'header-text-color');

        .header-title {
            display: map.get($theme, 'show-header-title');
        }

        .header-logo {
            .logo-1 {
                display: map.get($theme, 'logo-1-display');
            }
            .logo-2 {
                display: map.get($theme, 'logo-2-display');
            }
        }
    }

    .alpheios-alignment-editor-modal-metadata {
        color: map.get($theme, 'body-text-color');
    }
    
    .alpheios-alignment-editor-metadata-item span.alpheios-alignment-editor-metadata-item__label-help {
        color: map.get($theme, 'main-menu-text-color-hover');
        background: map.get($theme, 'main-menu-background-color-hover');
        border-color: map.get($theme, 'main-menu-border-color-hover');
    }

    .alpheios-alignment-editor-alignments-table_link  {
        color: map.get($theme, 'text-link-color');
        &:hover {
            color: map.get($theme, 'text-link-color-hover');
        }
    }

    .alpheios-menu-button,
    .alpheios-actions-menu-button,
    .alpheios-options-button,
    .alpheios-align-text-segment-button {
        color: map.get($theme, 'main-menu-text-color');
        background: map.get($theme, 'main-menu-background-color');
        border-color: map.get($theme, 'main-menu-border-color');

        &:hover {
            color: map.get($theme, 'main-menu-text-color-hover');
            background: map.get($theme, 'main-menu-background-color-hover');
            border-color: map.get($theme, 'main-menu-border-color-hover');
        }


        &:disabled {
            color: map.get($theme, 'main-menu-text-color-disabled');
            background: map.get($theme, 'main-menu-background-color-disabled');
            border-color: map.get($theme, 'main-menu-border-color-disabled');
        }
    }

    .alpheios-actions-menu-button-align {
        color: map.get($theme, 'align-button-color');
        background: map.get($theme, 'align-button-background');
        border-color: map.get($theme, 'align-button-border');

        &:hover {
            color: map.get($theme, 'align-button-color-hover');
            background: map.get($theme, 'align-button-background-hover');
            border-color: map.get($theme, 'align-button-border-hover');
        }


        &:disabled {
            color: map.get($theme, 'main-menu-text-color-disabled');
            background: map.get($theme, 'main-menu-background-color-disabled');
            border-color: map.get($theme, 'main-menu-border-color-disabled');
        }
    }

    .alpheios-token-edit-actions-button {
        border-color: map.get($theme, 'main-menu-border-color');
        background: map.get($theme, 'main-menu-background-color');
        svg {
          fill: map.get($theme, 'main-menu-text-color');
          stroke: map.get($theme, 'main-menu-text-color');
        }

        &:hover {
            border-color: map.get($theme, 'main-menu-border-color-hover');
            background: map.get($theme, 'main-menu-background-color-hover');
            svg {
              fill: map.get($theme, 'main-menu-text-color-hover');
              stroke: map.get($theme, 'main-menu-text-color-hover');
            }
        }

        &.alpheios-token-edit-actions-button__disabled {
            border-color: map.get($theme, 'main-menu-border-color-disabled');
            background: map.get($theme, 'main-menu-background-color-disabled');
            svg {
              fill: map.get($theme, 'main-menu-text-color-disabled');
              stroke: map.get($theme, 'main-menu-text-color-disabled');
            }
        }
    }

    .alpheios-alignment-editor-header__show-label,
    .alpheios-alignment-editor-tokenize-options__details-toggle {
        color: map.get($theme, 'text-link-color');
        &:hover {
            color: map.get($theme, 'text-link-color-hover');
        }
    }

    .alpheios-alignment-editor-align-define-container-inner {
          color: map.get($theme, 'align-editor-text-color');
          background: map.get($theme, 'editors-text-blocks-background');

        .alpheios-alignment-editor-align-segment-data {
            border-bottom-color: map.get($theme, 'align-editor-inner-border-color');
        }

        .alpheios-alignment-editor-align-segment-data-item {
            &.alpheios-alignment-editor-align-segment-data-target {
                border-left-color: map.get($theme, 'align-editor-inner-border-color');
            }
        }

        .alpheios-alignment-editor-align-text-segment span.alpheios-token {

            &:hover {
                color: map.get($theme, 'align-editor-text-color-hover');
                border-color: map.get($theme, 'align-editor-text-border-color-hover');
                background: map.get($theme, 'align-editor-text-background-color-hover');
            }
            &.alpheios-token-annotation-mode:hover {
                border-color: initial;
                background: initial;
            }

            &.alpheios-token-grouped {
                color: map.get($theme, 'align-editor-text-color-grouped');
                border-color: map.get($theme, 'align-editor-text-border-color-grouped');
                background: map.get($theme, 'align-editor-text-background-color-grouped');

                &:hover {
                    color: map.get($theme, 'align-editor-text-color-grouped-hover');
                    border-color: map.get($theme, 'align-editor-text-border-color-grouped-hover');
                    background: map.get($theme, 'align-editor-text-background-color-grouped-hover');
                }

                &.alpheios-token-annotated {
                    border-bottom-color: map.get($theme, 'align-editor-text-color-grouped');
                }
            }

            &.alpheios-token-selected {
                color: map.get($theme, 'align-editor-text-color-selected');
                border-color: map.get($theme, 'align-editor-text-border-color-selected');
                background: map.get($theme, 'align-editor-text-background-color-selected');
            }

            &.alpheios-token-clicked {
                color: map.get($theme, 'align-editor-text-color-active');
                border-color: map.get($theme, 'align-editor-text-border-color-active');
                background: map.get($theme, 'align-editor-text-background-color-active');

                &:hover {
                    color: map.get($theme, 'align-editor-text-color-active-hover');
                    border-color: map.get($theme, 'align-editor-text-border-color-active-hover');
                    background: map.get($theme, 'align-editor-text-background-color-active-hover');
                }
            }

            &.alpheios-token-clicked-first {
                color: map.get($theme, 'align-editor-text-color-first-active');
                border-color: map.get($theme, 'align-editor-text-border-color-first-active');
                background: map.get($theme, 'align-editor-text-background-color-first-active');
            }
        }
    }

    .alpheios-alignment-editor-tokens-edit-editor-container-inner {
        color: map.get($theme, 'align-editor-text-color');
        background: map.get($theme, 'editors-text-blocks-background');

        .alpheios-alignment-editor-align-segment-data {
            border-bottom-color: map.get($theme, 'align-editor-inner-border-color');
        }

        .alpheios-alignment-editor-align-segment-edit-data-item {
            &.alpheios-alignment-editor-align-segment-data-target {
                border-left-color: map.get($theme, 'align-editor-inner-border-color');
            }
        }

        .alpheios-alignment-editor-align-text-segment-edit span.alpheios-alignment-editor-token-edit {
            &:hover {
                background: map.get($theme, 'align-editor-text-border-color-hover');
            }
            &.alpheios-alignment-editor-token-edit-not-editable  {
                &:hover {
                    background: map.get($theme, 'editors-text-blocks-background');
                }
            }
        }

        span.alpheios-alignment-editor-token-edit.alpheios-alignment-editor-token-edit-span__activated {
            background: map.get($theme, 'align-editor-text-border-color-hover');
        }
    }

    .alpheios-alignment-options-block .alpheios-alignment-editor-container {
        border-color: map.get($theme, 'settings-container-border-color');
    }

    .alpheios-alignment-options__group {
        border-color: map.get($theme, 'settings-fieldset-border-color');
    }

    .alpheios-alignment-editor-metadata-item__allvalues-item {
        color: map.get($theme, 'text-link-color');
        &:hover {
            color: map.get($theme, 'text-link-color-hover');
        }
    }

    .alpheios-alignment-editor-options-fieldset {
        border-color: map.get($theme, 'editors-text-blocks-background');
    }

    .alpheios-alignment-editor-token-edit-empty-input-description {
        color:map.get($theme, 'tokens-edit-description-text-color');
    }

    .alpheios-alignment-app-menu {
        background-color: map.get($theme, 'header-background-color');
    }

    .alpheios-app-menu-link {
        color: map.get($theme, 'menu-text-color');
        &:hover {
            color: map.get($theme, 'menu-text-color-hover');
        }
        &:disabled {
            color: map.get($theme, 'menu-text-color-disabled');
        }
    }

    .alpheios-fileupload-filename {
        color: map.get($theme, 'menu-text-color');
    }

    .alpheios-alignment-app-menu-close-icon {
        svg {
          fill: map.get($theme, 'menu-text-color');
          stroke: map.get($theme, 'menu-text-color');
        }
        &:hover svg {
          fill: map.get($theme, 'menu-text-color-hover');
          stroke: map.get($theme, 'menu-text-color-hover');
        }
    }

    .alpheios-main-menu-download-block-radio-block_item {
        label {
            color: map.get($theme, 'body-text-color');
        }
    }
}