@use "sass:map";
@import "basic-theme";
@import 'standard-theme.scss';
@import 'v1-theme.scss';

$themes: (
  standard: $standard-theme,
  v1: $v1-theme,
);

.alpheios-standard-theme {
    $theme: map.get($themes, 'standard');
    @include basic-theme($theme);
}

.alpheios-v1-theme {
    $theme: map.get($themes, 'v1');
    @include basic-theme($theme);
}