@import "~vue-multiselect/dist/vue-multiselect.css";

.alpheios-alignment-editor-app-container {
  .multiselect {
    display: inline-block;
    vertical-align: middle;
    border-radius: 10px;
    border: 1px solid #757575;
    border-radius: 10px;
  }

  .multiselect__content-wrapper {
    border: 1px solid #757575;
    border-top: 0;
    padding: 10px;
  }

  ul.multiselect__content {
    padding: 0;
    margin: 0;
  }

  .multiselect__tags {
    font-size: 16px;
    // Need this to prevent tags element's background to overlap rounded corners of multiselect
    border-radius: 10px;
    min-height: 40px;
    padding: 8px 40px 0 8px;
  }

  span.multiselect__tag {
    background-color: #C64906;

    display: inline-block;
    border-radius: 5px;
    padding: 4px 26px 4px 10px;

    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;

    // To match scaling via the --alpheios-base-ui-size
    min-height: 24px;
    margin: 3px;

    span {
      color: #FFF;
    }
  }

  .multiselect__select {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666666%22%20points%3D%2212%201%209%206%2015%206%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666666%22%20points%3D%2212%2013%209%208%2015%208%22%3E%3C%2Fpolygon%3E%0A%3C%2Fsvg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    width: 28px;
    height: 100%;
  }

  .multiselect__select::before {
    display: none;
  }

  .multiselect__content {
    padding: 0;
  }

  .multiselect__single {
    display: none;
  }

  span.multiselect__option {
    padding: 12px;
  }

  .multiselect__option::after {
    display: none;
  }

  .multiselect__option--highlight,
  .multiselect__tag,
  .multiselect__tag-icon:focus,
  .multiselect__tag-icon:hover {
    background: #C64906;
  }

  .multiselect__option.multiselect__option--highlight {
    background-color: #C64906;

    &:after {
      display: none;
    }

    span {
      color: #FFF;
    }
  }

  .multiselect__option--highlight span,
  .multiselect__tag span,
  .multiselect__tag-icon:focus span,
  .multiselect__tag-icon:hover span {
    color: #FFF;
  }

  .multiselect__tag-icon:after {
    content: "\D7";
    color: #FFF;
    font-size: 24px;
  }

  .multiselect__tag-icon {
    border-radius: 5px;
    bottom: 0;
    cursor: pointer;
    font-style: normal;
    font-weight: bold;
    line-height: 1;
    margin-left: 7px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: all .2s ease;
    width: 24px;
    color: #FFF;

    &:hover {
      background-color: #C64906;
    }
  }
}