.alpheios-alignment-editor-app-container {
  .alpheios-switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 28px;
  }
  
  .alpheios-switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .alpheios-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .alpheios-slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .alpheios-slider {
    background-color: #185F6D;
  }
  
  input:focus + .alpheios-slider {
    box-shadow: 0 0 1px #185F6D;
  }
  
  input:checked + .alpheios-slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  /* Rounded sliders */
  .alpheios-slider.alpheios-round {
    border-radius: 34px;
  }
  
  .alpheios-slider.alpheios-round:before {
    border-radius: 50%;
  }
}