@import "fonts";
@import "select";
@import "input";
@import "button";
@import "checkbox";
@import "multiselect";
@import "modal";
@import "toggle-switch";
@import "animated_text";
@import "arrows";

@import "themes/themes-styles";

.alpheios-alignment-editor-app-container {
    * {
        box-sizing: border-box;
    }
    font-family: 'Source Sans Pro', sans-serif;
    
    textarea {
        font-family: 'Source Sans Pro', sans-serif;
    }
}

.alpheios-alignment-editor-app-container {
    [lang=ara], [lang=per] {
        font-family: Amiri, Verdana, Arial, Helvetica, serif;
        font-variant-ligatures: normal;
    }
}
.alpheios-alignment-editor-app-container [lang=syr] {
  font-family: "Noto Sans Syriac", Verdana, Arial, Helvetica, serif;
  font-variant-ligatures: normal;
}

.alpheios-alignment-editor-app-container {
    [lang=rus], [lang=bel], [lang=ukr] {
        font-family: "Times New Roman", Tinos, serif;
        font-variant-ligatures: normal;
    }
}

.alpheios-alignment-editor-app-container {
    [lang=heb] {
        font-family: "Varela Round", serif;
        font-variant-ligatures: normal;
    }
}

.alpheios-alignment-editor-app-container {
    [lang=kor] {
        font-family: "Noto Serif KR", serif;
        font-variant-ligatures: normal;
    }
}

.alpheios-alignment-editor-app-container {
    [lang=jpn] {
        font-family: 'Noto Serif JP', serif;
        font-variant-ligatures: normal;
    }
}

.alpheios-alignment-editor-app-container {
    [lang=zho] {
        font-family: 'Noto Serif TC', serif;
        font-variant-ligatures: normal;
    }
}

body.alpheios-initial-page,
body.alpheios-quick-start-page,
body.alpheios-whats-new-page,
body.alpheios-video-tutorials-page {
    .header.alpheios-header {
        display: none;
    }

    .alpheios-alignment-app-menu-open-icon {
        svg {
            fill: #fff;
        }
    }
}

.alpehios-hide-readding-tools-toolbar .alpheios-toolbar {
    display: none;
}

