@import "fonts";
@import "select";
@import "input";
@import "button";
@import "checkbox";
@import "multiselect";
@import "modal";
@import "toggle-switch";
@import "animated_text";

@import "themes/themes-styles";

.alpheios-alignment-editor-app-container {
    * {
        box-sizing: border-box;
    }
    font-family: 'Source Sans Pro', sans-serif;
    // padding-bottom: 20px;
}


body.alpheios-initial-page {
    background-color: #bce5f0;

    .header.alpheios-header {
        display: none;
    }

    .alpheios-alignment-app-menu-open-icon {
        svg {
            fill: #fff;
        }
    }
}

.alpehios-hide-readding-tools-toolbar .alpheios-toolbar {
    display: none;
}
