.alpheios-alignment-whats-new { 
    .alpheios-alignment-editor__intro {
        background: #f1fafc;
        background-repeat: repeat;
        background-position: 98% 20%;
        background-size: 30% auto;
      }
    
      .alpheios-alignment-editor__page-container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
      }
    
      .alpheios-alignment-editor-big-icon {
        display: inline-block;
        width: 200px;
        height: auto;
        vertical-align: middle;
    
        svg {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    
      .alpheios-header-logo {
        padding: 10px;
        text-align: right;
        a {
          display: inline-block;
        }
        img {
          width: 180px;
        }
      }
    
      .alpheios-alignment-editor__title {
        padding: 50px 0;
        h2 {
          padding: 0 20px;
          font-size: 300%;
          font-family: "Source Serif Pro",serif;
          margin: 0;
          margin-left: 80px;
          color: #90a959;
        }
    
        @media screen and (max-width: 500px) {
          padding: 20px 0;
          h2 {
            font-size: 150%;
            margin-left: 0;
          }
        }
      }
    
      .alpheios-alignment-editor__content-slider-container {
        padding: 20px;
      }
      .alpheios-alignment-editor__content-slider {
        // padding: 20px;
        background: #ffffff;
    
        .alpheios-alignment-editor__content-slide {
          img {
            display: block;
            width: 100%;
          }
        }
      }
    
      .alpheios-alignment-editor__content-part {
        padding: 0;
        font-size: 115%;
        text-align: center;
    
        &.alpheios-alignment-editor__content-part-1 {
          background: #0E2233;
          padding: 0;
    
          p {
            padding: 40px 20px;
            margin: 0;
            font-size: 125%;
            text-align: center;
            color: #ffffff;
          }
        }
    
        &.alpheios-alignment-editor__content-part-2 {
          background: #ffffff;
          padding: 40px 50px;
        }
    
        &.alpheios-alignment-editor__content-part-3 {
          background: #0E2233;
          padding: 40px 20px;
          color: #ffffff;
    
          h3 {
            margin: 0 0 40px;
            font-size: 200%;
            text-align: center;
            @media screen and (max-width: 500px) {
              font-size: 110%;
              margin: 0 0 20px;
            }
          }
    
          p {
            text-align: left;
            &.alpheios-alignment-editor__p-with-check-mark {
              background-position: 0 50%;
              background-size: 30px auto;
              padding: 0 0 0 50px;
              background-repeat: no-repeat;
            }
            &.alpheios-alignment-editor__p-with-check-mark-sub {
              background-position: 0 50%;
              background-size: 30px auto;
              padding: 0 0 0 50px;
              background-repeat: no-repeat;
              margin-left: 50px;
            }
            
          }
    
        }
    
        &.alpheios-alignment-editor__content-part-4,
        &.alpheios-alignment-editor__content-part-6 {
          background: #ffffff;
          padding: 40px 20px;
          h3 {
            margin: 0 0 40px;
            font-size: 200%;
            text-align: center;
    
            color: #0E2233;
          }
    
          p {
            text-align: left;
            &.alpheios-alignment-editor__p-with-arrow-mark {
              background-position: 0 50%;
              background-size: 30px auto;
              padding: 0 50px;
              background-repeat: no-repeat;
            }
            
          }
        }
    
        &.alpheios-alignment-editor__content-part-5 {
          background: #0E2233;
          padding: 40px 20px;
          color: #ffffff;
    
          p {
            text-align: left;
            &.alpheios-alignment-editor__p-with-arrow-mark {
              background-position: 0 50%;
              background-size: 30px auto;
              padding: 0 50px;
              background-repeat: no-repeat;
            }
            
          }
        }
      }
    
      .alpheios-alignment-editor__footer {
        background: #0E2233;
        padding: 40px 20px;
        color: #ffffff;
    
        .alpheios-alignment-editor__footer-copyright {
          text-align: right;
        }
      }
    
      .alpheios-alignment-editor-main-button-block {
        a {
          display: inline-block;
          padding: 20px;
          text-decoration: none;
          color: #fff;
          background: #90a959;
          text-transform: uppercase;
          font-weight: bold;
          border-radius: 15px;
    
          box-shadow: 3px 3px 2px 0px rgba(28,33,17,0.75);
          -webkit-box-shadow: 3px 3px 2px 0px rgba(28,33,17,0.75);
          -moz-box-shadow: 3px 3px 2px 0px rgba(28,33,17,0.75);
        }
      }
    }